<header class="blog-header lh-1 py-3">
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-4 pt-1">
			<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBookModal">Add Book</button>
		</div>
		<div class="col-4 text-center">
			<a class="blog-header-logo text-dark" href="/">BOOOOKS</a>
		</div>
		<div class="col-4 d-flex justify-content-end align-items-center">
			<% if(isLogin){ %>
			<a class="btn btn-sm btn-outline-secondary" href="/user/mypage"
				>Mypage</a
			>
			<% }else{%>
			<a class="btn btn-sm btn-outline-secondary" href="/user/signup"
				>Sign up</a
			>
			<% } %>
		</div>
	</div>
</header>
<div class="modal fade" tabindex="-1" style="background-color:rgba(0,0,0,30%)" id="addBookModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Book URL</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="modal_box-description d-flex flex-column">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  	<span class="input-group-text" id="inputGroup-sizing-default">교보문고</span>
						</div>
						<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="bookUrl">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveBtn">Save changes</button>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
	let email = $.cookie("email");
	$('#saveBtn').click((e)=>{
		e.preventDefault();
		let bookUrl = $('#bookUrl').val();
		console.log(bookUrl);
		let sendData = { 
			bookUrl,
			email, 
		};
		console.log(sendData)

		$.ajax({
			url: `/book/save/newBook`,
			type: "post",
			contentType: "application/json",
			data: JSON.stringify(sendData),
			success: function (result) {
				console.log('hi')
				window.location = "/user/mypage";
			},
		});
		// fetch로 api로 콜을 보냄
	})
</script>