<header>
	<div class="menu_btn">๋ฉ๋ด</div>
	<div class="logo_btn">๐ฎ</div>
	<% if(isLogin){ %>
		<a href="/user/logout">
			<div class="logout_btn">๋ก๊ทธ์์</div>
		</a>
	<%}else{ %>
		<a href="/user/signup">
			<div class="login_btn">ํ์๊ฐ์</div>
		</a>
	<% } %>
</header>
