<header class="blog-header lh-1 py-3">
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-4 pt-1">
			<a class="link-secondary" href="#">Subscribe</a>
		</div>
		<div class="col-4 text-center">
			<a class="blog-header-logo text-dark" href="/">BOOOOKS</a>
		</div>
		<div class="col-4 d-flex justify-content-end align-items-center">
			<% if(isLogin){ %>
			<a class="btn btn-sm btn-outline-secondary" href="/user/mypage"
				>Mypage</a
			>
			<% }else{%>
			<a class="btn btn-sm btn-outline-secondary" href="/user/signup"
				>Sign up</a
			>
			<% } %>
		</div>
	</div>
</header>
<!-- <script>
	$('.menu_btn').click(function(e){
		$('.menu_open-background').toggleClass('unshow');
	})
	$('.menu_open-close').click(function(e){
		$('.menu_open-background').toggleClass('unshow');
	})
</script> -->
