<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta
			name="author"
			content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
		/>
		<meta name="generator" content="Hugo 0.108.0" />
		<title>Blog Template · Bootstrap v5.3</title>

		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script
			type="text/javascript"
			src="/js/plugins/jquery.cookie.js"
		></script>

		<meta name="theme-color" content="#712cf9" />

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			.b-example-divider {
				height: 3rem;
				background-color: rgba(0, 0, 0, 0.1);
				border: solid rgba(0, 0, 0, 0.15);
				border-width: 1px 0;
				box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
					inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
			}

			.b-example-vr {
				flex-shrink: 0;
				width: 1.5rem;
				height: 100vh;
			}

			.bi {
				vertical-align: -0.125em;
				fill: currentColor;
			}

			.nav-scroller {
				position: relative;
				z-index: 2;
				height: 2.75rem;
				overflow-y: hidden;
			}

			.nav-scroller .nav {
				display: flex;
				flex-wrap: nowrap;
				padding-bottom: 1rem;
				margin-top: -1px;
				overflow-x: auto;
				text-align: center;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
			}
            a{
                display: block;
            }
            .blog-header-logo {
                font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
                font-size: 2.25rem;
            }
		</style>

		<!-- Custom styles for this template -->
		<link
			href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
			rel="stylesheet"
		/>
		
	</head>
	<body>
		<div class="container">
			<header class="blog-header lh-1 py-3">
				<div
					class="row flex-nowrap justify-content-between align-items-center"
				>
					<div class="col-4 pt-1">
						<a class="link-secondary" href="#">Subscribe</a>
					</div>
					<div class="col-4 text-center">
						<a class="blog-header-logo text-dark" href="#">Large</a>
					</div>
					<div
						class="col-4 d-flex justify-content-end align-items-center"
					>
						<a class="link-secondary" href="#" aria-label="Search">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="20"
								height="20"
								fill="none"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								class="mx-3"
								role="img"
								viewBox="0 0 24 24"
							>
								<title>Search</title>
								<circle cx="10.5" cy="10.5" r="7.5" />
								<path d="M21 21l-5.2-5.2" />
							</svg>
						</a>
						<a class="btn btn-sm btn-outline-secondary" href="#"
							>Sign up</a
						>
					</div>
				</div>
			</header>

			<div class="nav-scroller py-1 mb-2">
				<nav class="nav d-flex justify-content-between">
					<a class="p-2 link-secondary" href="#">World</a>
					<a class="p-2 link-secondary" href="#">U.S.</a>
					<a class="p-2 link-secondary" href="#">Technology</a>
					<a class="p-2 link-secondary" href="#">Design</a>
					<a class="p-2 link-secondary" href="#">Culture</a>
					<a class="p-2 link-secondary" href="#">Business</a>
					<a class="p-2 link-secondary" href="#">Politics</a>
					<a class="p-2 link-secondary" href="#">Opinion</a>
					<a class="p-2 link-secondary" href="#">Science</a>
					<a class="p-2 link-secondary" href="#">Health</a>
					<a class="p-2 link-secondary" href="#">Style</a>
					<a class="p-2 link-secondary" href="#">Travel</a>
				</nav>
			</div>
		</div>

		<main class="container">
			<div class="d-flex p-1 p-md-2 mb-4 rounded text-bg-white">
				<div class="col-md-4">
					<img src=<%=item.image._text%>/>
				</div>
				<div class="col-md-8 px-0">
					<div class="d-flex justify-content-between">
						<h1 class="display-5">
							책을 한 번 읽어봅시다!
						</h1>
						<%if(exist){%>
							<div class="heart-btn align-middle" data-isbn=<%=item.isbn._text %>>♥</div>
						<%}else{%>
							<div class="heart-btn align-middle" data-isbn=<%=item.isbn._text %>>♡</div>
						<%}%>
					</div>
					<p class="lead my-3">
						Multiple lines of text that form the lede, informing new
						readers quickly and efficiently about what’s most
						interesting in this post’s contents.
					</p>
					<p class="lead mb-0">
						<a href="#" class="text-white fw-bold"
							>Continue reading...</a
						>
					</p>
					<form class="row">
						<div class="col-3 form-floating">
							<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
								<option selected>type</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
							<label for="floatingSelect">Works with selects</label>
						</div>
						<div class="col-9 form-floating">
							<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
							<label for="floatingTextarea2">Comments</label>
						</div>
					</form>
				</div>
			</div>
		</main>

		<footer class="blog-footer mt-3">
			
		</footer>
		<script>
			let email = $.cookie("email");
			let isLogin = email ? true : false;
			const drawStar = (target) => {
				document.querySelector(`.star span`).style.width = `${
					target.value * 10
				}%`;
			};

			let sendData = { email };
			
			
			$(".heart-btn").click(function(e){
				let isbn = e.target.getAttribute('data-isbn');
				if ($(".heart-btn").text() === "♡") {
					if (isLogin) {
						$(".modal_background_save").removeClass("unshow");
						$(".modal_background_save").addClass("show");
					}else {
						$(".modal_background").removeClass("unshow");
						$(".modal_background").addClass("show");
					};
				}else if ($(".heart-btn").text() === "♥") {
					try {
						console.log(isbn)
						$.ajax({
							url: `/book/unsave/${isbn}`,
							type: "post",
							contentType: "application/json",
							data: JSON.stringify(sendData),
							success: function (result) {
								$(".heart-btn").text("♡");
								
							},
						});
					} catch (err) {
						console.log(err);
					}
				}

			});
			$(".book_comment-save").click(function (e) {
				e.preventDefault();
				let isbn = $(".book_comment-save").attr("data-isbn");
				let img = $("img").attr('src');
				let title = $('.book_info-title').text().trim();
				let comment = $('.comment').val();
				let rating = $('.rating').val();
				sendData = { email, comment,title, img, rating };
				console.log(title);
				try {
					$.ajax({
						url: `/book/save/${isbn}`,
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(sendData),
						success: function (result) {
							$(".heart-btn").text("♥");
							$(".modal_background_save").removeClass("show");
							$(".modal_background_save").addClass("unshow");
						},
					});
				} catch (err) {
					console.log(err);
				}
			// db에 나만의 책목록 만들기
			// 프론트에서는 좋아요 표시 처리
			// 팝업으로 좋아하는 책으로 등록되었습니다.(뜨고 사라지기)
			})
			
			$(".modal_box-close").click(function (e) {
				e.preventDefault();
				$(".modal_background").removeClass("show");
				$(".modal_background").addClass("unshow");
				$(".modal_background_save").removeClass("show");
				$(".modal_background_save").addClass("unshow");
			});
			$(".modal_background").click(function (e) {
				if (!e.target.classList.contains("modal_box")) {
					$(".modal_background").removeClass("show");
					$(".modal_background").addClass("unshow");
				}
			});
		</script>
	</body>
</html>
