<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/scss/output/style.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<title>Document</title>
	</head>
	<body>
		<main>
			<%- include('./part/header') %> login page
			<p><%=errorMsg%></p>
			<form class="login_form" method="post">
				<input
					id="email"
					type="email"
					name="email"
					placeholder="Email"
				/>
				<input
					id="password"
					type="password"
					name="password"
					placeholder="Password"
				/>
				<button id="signup">로그인</button>
			</form>
		</main>
		<script>
			$(".login_form").submit(function (e) {
				let email = $("#email").val();
				let password = $("#password").val();
				if (email.length == 0) {
					e.preventDefault();
					alert("email을 입력해주세오");
				}
			});
		</script>
	</body>
</html>
