<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/output/style.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <%- include('./part/header') %>
        <h1>마이페이지입니다.</h1>
            
        <div class="book_list">
            <% for(let i=0; i<items.length; i++){ %>
                <!-- 이미지, 제목, 코멘트.. -->
                <a class="book_item" href=<%=`/user/mypage/${items[i].isbn}` %>>
                    <div class="book_item-img">
                        <img src="<%=items[i].img %>" />
                    </div>
                    <div class="book_item-title">
                        <%=items[i].comment %>
                    </div>
                </a>
            <%} %>
        </div>
    </main>
</body>
</html>