.home_banner{
    width : 100%;
    height: 200px;
    background-color: bisque;
}

.search_bar{
    display: flex;
    justify-content: space-around;
    .search_bar-box{
        width : 100%;
    }
    #search_bar-btn{
        width : 50px;
    }
} 
.book_list{
    li{
        flex: 0 0 25%;
        padding: 10px;
    }
}

.book_item{
    margin : 4px;
    .book_item-img{
        text-align: center;
        img{
            height: 100%;   
        }
    }
    
    .book_item-title{
        font-weight: 600;
    }
}