header{
    display: flex;
    justify-content: space-between;
    padding : 10px;
    div{
        width : 70px;
        text-align: center;
    }
}

main{
    margin: 0 auto;
    width :360px;
}

h1{
    font-size: 18px;
}

@include media-breakpoint-up(xl){
    body{
        min-width:1200px;
    }
}
@include media-breakpoint-up(lg) {
    .container-fluid{
        margin-top: 32px;padding-left: 20px;padding-right: 20px;
    }
    #side-block{
        width: 160px;padding: 0px 0px;
        bottom: 0;height: 100vh;left: 0;position: fixed;top: 0;background: #101009;z-index: 1001;
    }
}
